@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

@media screen and (orientation:landscape){
#TheTop {
	height: 100vh !important;
	width: 80vw !important;
	}
}

@media screen and (orientation:portrait){
#dashboard {
	height: 50% !important;
	width: 100vw !important;
	}
}